@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: #dfe7ff;
}

nav ul {
  list-style-type: none;
  display:  flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  color: rgb(87, 110, 255);
}

li {
  padding-right: 20px;
}
