#articleSquare {
    max-width: 1300px;
    border-radius: 10px;
    margin: 0 auto;
}

#title-article-id {
    text-decoration: none;
    color: rgb(87, 110, 255);
    font-weight: bold;
    font-size: 30px;
}